.image-loader {
  background-color: #eee;
  position: relative;
  > img {
    opacity: 0;
  }
  &.-load {
    @include animate-sheen();
  }
  &.-ready {
    background-color: transparent;
  }
  &.-ready > img {
    animation: fade-in 0.65s ease forwards;
  }
  &.-fail > img {
    opacity: 1;
  }
  > img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}
