.my-grade {
  text-align: center;
  .grade-wrapper {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    .grade {
      margin-left: 10px;
      font-size: 50px;
    }
  }
  .chart-container {
    margin-top: 50px;
  }
}
