.profile-manager {
  > .body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: -50px;
    > .accountinfo {
      margin-left: 50px;
      margin-bottom: 20px;
      max-width: 400px;
      min-width: 250px;
      flex: 1;
    }
    > .accountinfo > h5 {
      border-bottom: solid 1px $table-border-color;
    }
  }
}
